.relevant-categories-widget {
    margin-bottom: 20px;
    padding: 10px;
}

.relevant-categories-widget h3.widget-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.relevant-categories-widget ul {
    margin: 0;
    padding-left: 10px;
    list-style: none;
}

.relevant-categories-widget li {
    margin-bottom: 5px;
}

.relevant-categories-widget li a {
    text-decoration: none;
	color: #000000
}

.relevant-categories-widget li a:hover {
    text-decoration: underline;
	color: #000000
}
